{% extends 'base.html' %}
		{% block content %}
        <!-- header section end -->
        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>Contact Us</h2>
							<ul class="text-left">
								<li><a href="{% url 'home' %}">Home </a></li>
								<li><span> // </span>Contact Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
		<!-- contact content section start -->
		<div class="pages contact-page section-padding">
			<div class="container text-center">
				<div class="row">
					<div class="col-sm-12">
						<div class="googleMap-info">
							<div id="googleMap"></div>
							<div class="map-info">
								<p><strong>Sellshop</strong></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-text-center">
						<div class="contact-details">
							<div class="row">
								<div class="col-sm-4">
									
										
								<a href="https://www.google.com/maps/place/Heyd%C9%99r+%C6%8Fliyev+M%C9%99rk%C9%99zi/@40.3943798,49.8669802,16.27z/data=!4m13!1m7!3m6!1s0x40307d6bd6211cf9:0x343f6b5e7ae56c6b!2sBak%C3%BC,+Azerbaycan!3b1!8m2!3d40.4092617!4d49.8670924!3m4!1s0x40307d40a035a6bd:0xa8c2cbf267a83fbd!8m2!3d40.3958984!4d49.8678151">
									<div class="single-contact">
										<i class="mdi mdi-map-marker"></i>
									</div><p>Baku Azerbaijan</p>
								</a>
								</div>
								<div class="col-sm-4">
									<div class="single-contact">
										<i class="mdi mdi-phone"></i>
										<p>(+994) 50 - 675 - 60 - 20</p>
									</div>
								</div>
								<div class="col-sm-4">

										<a href='https://mail.google.com/mail/?view=cm&amp;to=farizakbarzada@gmail.com&amp;su=Salam&amp;}'>
											<div class="single-contact">
												<i class="mdi mdi-email"></i>
											</div>
											<p>farizakbarzada@gmail.com</p>
										</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% endblock content %}

        
		<!-- all js here -->
		<!-- jquery latest version -->
		<!-- Google Map JS -->
		{% block js %}
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script>
			function initialize() {
			
			  var mapOptions = {
				zoom: 17,
				hue: '#E9E5DC',
				scrollwheel: false,
				mapTypeId:google.maps.MapTypeId.TERRAIN,
				center: new google.maps.LatLng(23.760772, 90.424790)
			};

			  var map = new google.maps.Map(document.getElementById('googleMap'),
				  mapOptions);
				  

				  var marker = new google.maps.Marker({
					  position: map.getCenter(),
				icon: 'img/map-marker.png',
				map: map
			  });

			}

			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		{% endblock js %}
		