{% extends 'base.html' %}
{% load my_filters %}
		{% block content %}
        <!-- header section end -->
        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>{{product.title}}</h2>
							<ul class="text-left">
								<li><a href="{% url 'home' %}">Home </a></li>
								<li><span> // </span><a href="{% url 'products' %}">shop </a></li>
								<li><span> // </span>{{product.title}}</li>
								{{product.id}}
								{{product.pk}}
								{{product.slug}}
								<a href="{% url 'product_api' product.pk %}"> Api</a>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
        <!-- product-details-section-start -->
		<div class="product-details pages section-padding-top">
			<div class="container">
				<div class="row">
					<div class="single-list-view">
						<div class="col-xs-12 col-sm-5 col-md-4">
							<div class="quick-image">
								<div class="single-quick-image text-center">
									<div class="list-img">
										<div class="product-img tab-content">
											<div class="simpleLens-container tab-pane fade in active" id="sin-1">
												<div class="pro-type">
													<span>new</span>
												</div>
												<a class="simpleLens-image" data-lens-image="{{product.product_image.first.path.url}}" href="#"><img src="{{product.product_image.first.path.url}}" alt="" class="simpleLens-big-image"></a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="quick-thumb">
									<ul class="product-slider">
										<li><a data-toggle="tab" href="#sin-1"> Quick view </a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-7 col-md-8">
							<div class="quick-right">
								<div class="list-text">
									<a href="{% url 'product_detail' product.slug %}"><h3>{{product.title}}</h3></a>
									<span>Summer men’s fashion</span>
									<div class="ratting floatright">
										<p>( 27 Rating )</p>
										<i class="mdi mdi-star"></i>
										<i class="mdi mdi-star"></i>
										<i class="mdi mdi-star"></i>
										<i class="mdi mdi-star-half"></i>
										<i class="mdi mdi-star-outline"></i>
									</div>
									{% if product.discounts %}
										<h5><del>{{product.price}}$</del> {{product.calculated_value}}$</h5>
									{% else %}
										<h5>{{product.price}} $</h5>
									{% endif %}
									
									{% if product.short_description %}
									<p>{{product.short_description}}</p>
									{% endif %}
									<div class="all-choose">
										{% for property in properties %}
											

									
											
										<div class="s-shoose">
											<h5>{{property.properties}}</h5>
											<div class="size-drop">
												<div class="btn-group">
													<button type="button" class="btn">{{property.properties}}</button>
													<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class=""><i class="mdi mdi-chevron-down"></i></span>
													</button>
													<ul class="dropdown-menu">
														{% for value in values %}
															{% if value.properties == property.properties %}
																<li><a href="#">{{value}}</a></li>
															{% endif %}
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>
										{% endfor %}
										
										<div class="s-shoose">
											<h5>qty</h5>
											<form action="#" method="POST">
												<div class="plus-minus">
													<a class="dec qtybutton">-</a>
													<input type="text" value="02" name="qtybutton" class="plus-minus-box">
													<a class="inc qtybutton">+</a>
												</div>
											</form>
										</div>
									</div>
									<div class="list-btn">
										<a href="#">add to cart</a>
										<a href="#">wishlist</a>
										<a href="#" data-toggle="modal" data-target="#quick-view">zoom</a>
									</div>
									<div class="share-tag clearfix">
										<ul class="blog-share floatleft">
											<li><h5>share </h5></li>
											<li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
											<li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
											<li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
											<li><a href="#"><i class="mdi mdi-vimeo"></i></a></li>
											<li><a href="#"><i class="mdi mdi-dribbble"></i></a></li>
											<li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- single-product item end -->
				<!-- reviews area start -->
				<div class="row">
					<div class="col-xs-12">
						<div class="reviews padding60 margin-top">
							<ul class="reviews-tab clearfix">
								
								<li class="active"><a data-toggle="tab" href="#reviews">Reviews</a></li>
							</ul>
							<div class="tab-content">
								<div class="info-reviews review-text tab-pane fade in active" id="reviews">
									{% for comment in product.product_comment.all %}
									<div class="about-author">
										<div class="autohr-text">
											<img src="img/blog/author1.png" alt="" />
											<div class="author-des">
												<h4><a href="#">{{comment.author}}</a></h4>
												<span class="floatright ratting">
													{{comment.review}}
													{% for i in 12345|make_list %}
														
														{% if comment.review >= i  %}
															<i class="mdi mdi-star"></i>
														{% else %}
															<i class="mdi mdi-star-outline"></i>
														{% endif %}
													{% endfor %}
													
												</span>
												<span>{{comment.updated_at}}</span>
												<p>{{comment.content}}</p>
											</div>
										</div>
									</div>
									<hr/>
									{% endfor %}

									
									
									<div class="custom-input">
										<form action="" method="post">
											<div class="row">
												
												<div class="col-xs-12 ">
													{% csrf_token %}
													{{form}}
												</div>
												<div class="col-xs-12" style="margin-top: 20px;">
													<div class="submit-text" >
														<button  type="submit">submit review</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<!-- reviews area end -->
			</div>
		</div>
		<!-- product-details section end -->
        <!-- related-products section start -->
		<section class="single-products section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center">
							<h2>related Products</h2>
						</div>
					</div>
				</div>
				<div class="row text-center">
					{% for product in products %}
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="single-product">
							<div class="product-img">
								<div class="pro-type">
									<span>new</span>
								</div>
								<a href="{% url 'product_detail' product.slug %}"><img src="{{product.product_image.first.path.url}}" alt="Product Title" /></a>
								<div class="actions-btn">
									<a href="#"><i class="mdi mdi-cart"></i></a>
									<a href="#" data-toggle="modal" data-target="#quick-view"><i class="mdi mdi-eye"></i></a>
									<a href="#"><i class="mdi mdi-heart"></i></a>
								</div>
							</div>
							<div class="product-dsc">
								<p><a href="#">{{product.title}}</a></p>
								<span>{{product.calculated_value}}</span>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- single product end -->
					
					<!-- single product end -->
				</div>
			</div>
		</section>
		<!-- related-products section end -->
        <!-- quick view start -->
		{% comment %} <div class="product-details quick-view modal animated zoomInUp" id="quick-view">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="d-table">
							<div class="d-tablecell">
								<div class="modal-dialog">
									<div class="main-view modal-content">
										<div class="modal-footer" data-dismiss="modal">
											<span>x</span>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-5 col-md-4">
												<div class="quick-image">
													<div class="single-quick-image text-center">
														<div class="list-img">
															<div class="product-img tab-content">
																<div class="simpleLens-container tab-pane fade in" id="q-sin-1">
																	<div class="pro-type">
																		<span>new</span>
																	</div>
																	<a class="simpleLens-image" data-lens-image="img/products/z1.jpg" href="#"><img src="img/products/z1.jpg" alt="" class="simpleLens-big-image"></a>
																</div>
																<div class="simpleLens-container tab-pane active fade in" id="q-sin-2">
																	<div class="pro-type sell">
																		<span>sell</span>
																	</div>
																	<a class="simpleLens-image" data-lens-image="img/products/z2.jpg" href="#"><img src="img/products/z2.jpg" alt="" class="simpleLens-big-image"></a>
																</div>
																<div class="simpleLens-container tab-pane fade in" id="q-sin-3">
																	<div class="pro-type">
																		<span>-15%</span>
																	</div>
																	<a class="simpleLens-image" data-lens-image="img/products/z3.jpg" href="#"><img src="img/products/z3.jpg" alt="" class="simpleLens-big-image"></a>
																</div>
																<div class="simpleLens-container tab-pane fade in" id="q-sin-4">
																	<div class="pro-type">
																		<span>new</span>
																	</div>
																	<a class="simpleLens-image" data-lens-image="img/products/z4.jpg" href="#"><img src="img/products/z4.jpg" alt="" class="simpleLens-big-image"></a>
																</div>
															</div>
														</div>
													</div>
													<div class="quick-thumb">
														<ul class="product-slider">
															<li><a data-toggle="tab" href="#q-sin-1"> <img src="img/products/s1.jpg" alt="quick view" /> </a></li>
															<li class="active"><a data-toggle="tab" href="#q-sin-2"> <img src="img/products/s2.jpg" alt="small image" /> </a></li>
															<li><a data-toggle="tab" href="#q-sin-3"> <img src="img/products/s3.jpg" alt="small image" /> </a></li>
															<li><a data-toggle="tab" href="#q-sin-4"> <img src="img/products/s4.jpg" alt="small image" /> </a></li>
														</ul>
													</div>
												</div>						
											</div>
											<div class="col-xs-12 col-sm-7 col-md-8">
												<div class="quick-right">
													<div class="list-text">
														<h3>men’s White t-shirt</h3>
														<span>Summer men’s fashion</span>
														<div class="ratting floatright">
															<p>( 27 Rating )</p>
															<i class="mdi mdi-star"></i>
															<i class="mdi mdi-star"></i>
															<i class="mdi mdi-star"></i>
															<i class="mdi mdi-star-half"></i>
															<i class="mdi mdi-star-outline"></i>
														</div>
														<h5><del>$79.30</del> $69.30</h5>
														<p>There are many variations of passages of Lorem Ipsum available, but the majority have be suffered alteration in some form, by injected humour, or randomised words which donot look even slightly believable. If you are going to use a passage of Lorem Ipsum, you neede be sure there isn't anything embarrassing hidden in the middle of text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
														<div class="all-choose">
															<div class="s-shoose">
																<h5>Color</h5>
																<div class="color-select clearfix">
																	<span></span>
																	<span class="outline"></span>
																	<span></span>
																	<span></span>
																</div>
															</div>
															<div class="s-shoose">
																<h5>size</h5>
																<div class="size-drop">
																	<div class="btn-group">
																		<button type="button" class="btn">XL</button>
																		<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																			<span class=""><i class="mdi mdi-chevron-down"></i></span>
																		</button>
																		<ul class="dropdown-menu">
																			<li><a href="#">Xl</a></li>
																			<li><a href="#">SL</a></li>
																			<li><a href="#">S</a></li>
																			<li><a href="#">L</a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="s-shoose">
																<h5>qty</h5>
																<form action="#" method="POST">
																	<div class="plus-minus">
																		<a class="dec qtybutton">-</a>
																		<input type="text" value="02" name="qtybutton" class="plus-minus-box">
																		<a class="inc qtybutton">+</a>
																	</div>
																</form>
															</div>
														</div>
														<div class="list-btn">
															<a href="#">add to cart</a>
															<a href="#">wishlist</a>
															<a href="#">zoom</a>
														</div>
														<div class="share-tag clearfix">
															<ul class="blog-share floatleft">
																<li><h5>share </h5></li>
																<li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
																<li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
																<li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
																<li><a href="#"><i class="mdi mdi-vimeo"></i></a></li>
																<li><a href="#"><i class="mdi mdi-dribbble"></i></a></li>
																<li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> {% endcomment %}
		<!-- quick view end -->
        <!-- footer section start -->
		{% endblock content %}