{% extends 'base.html' %}
		{% block content %}
        <!-- header section end -->
        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>Register</h2>
							<ul class="text-left">
								<li><a href="{% url 'home' %}">Home </a></li>
								<li><span> // </span>Register</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
		<!-- login content section start -->
		<section class="pages login-page section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="main-input padding60">
							<div class="log-title">
								<h3><strong>registered customers</strong></h3>
							</div>
							<div class="login-text">
								<div class="custom-input">
									<p>If you have an account with us, Please log in!</p>
									<form action="{% url 'change_password' %}" method="post">
										{% csrf_token %}
										{% if form.errors %}
											<div class="text-danger">
												{{ form.errors }}
											</div>
										{% endif %}
										{{form}}
										<div class="submit-text coupon">
											<input type='submit' />
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- login content section end -->
        <!-- footer section start -->
		{% endblock content %}